<mat-toolbar>
    <span class="barraname">CLIENTES</span>
    <div class="buttonsrouter">
        <button class="btn" type="button" routerLink="/login">Login</button>
        <button class="btn" type="button" routerLink="/produtos">Produtos</button>
    </div>
</mat-toolbar>

<div class="box">
    <h1 class="titulo">CADASTRO</h1>
    
    <div class="divnome">
        <mat-form-field>
            <mat-label class="exlabel">Nome</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field class="divsobre">
            <mat-label class="exlabel">Sobrenome</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    
    <div class="cpf">
        <mat-form-field>
            <span matPrefix> &nbsp;</span>
            <mat-label class="exlabel">CPF</mat-label>
            <input type="number" matInput placeholder="000.000.000-00">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>
    
    <div class="datanasc">
        <mat-form-field>
            <mat-label class="exlabel">Data de Nascimento</mat-label>
            <input class="exlabel" matInput placeholder="  /  /    " [matDatepicker]="picker">
            <mat-hint class="exlabel">DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" class="exlabel"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    
    <div class="sexo">
        <p>Sexo:</p>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Masculino</mat-radio-button>
            <mat-radio-button value="2">Feminino</mat-radio-button>
        </mat-radio-group>
    </div>
 
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </p>
      
        <div>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput placeholder=>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input matInput placeholder="">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <mat-label>Cep</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="" value="">
              </mat-form-field></td>
            </tr></table>
        </div>

        <div>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Telefone</mat-label>
                  <span matPrefix> &nbsp;</span>
                  <input type="tel" matInput placeholder="ex.(prefixo)123456789">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </form>
        </div>
       
    <button mat-raised-button>Cadastrar</button>
    
             
</div>
