/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(238,130,238);
    color: white;
    
}

.buttonsbar {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: darkslategrey;
    color: white;
    
    
}

.buttonsrouter {
    .btn {
        margin-left: 10px;
        background-color: rgb(238,130,238);
        border-radius: 3%;
        color: white;
        border-color: rgb(5238,130,238);
        font-size: medium;
        font-style: oblique;
        border-bottom-width: 2px;
        border-bottom-color: blueviolet;
        border-bottom-style: double;
        border-left-width: 2px;
        border-left-color: blueviolet;
        border-left-style: double;
        border-right-width: 2px;
        border-right-color: blueviolet;
        border-right-style:double;
        border-top-width: 2px;
        border-top-color: blueviolet;
        border-top-style:double;
        
    }
}

.barraname {
    font-style: oblique;
    font-size: x-large;
    color: blueviolet;
    flex: auto;
    
}




